@media (min-width: 710px) and (max-width: 768px){
    .how-building-home{
        background-image: url('../img/bg-building-home-mobile.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
      }
    .flex-container {
        flex-direction: column;
    }
    .flex-about {
        padding: 0%;
        border: 0px solid #f1f1f1;
    }
    .flex-slide {
        overflow: auto;
        overflow-x: hidden;
    }
    .flex-slide p {
        font-size: 2em;
    }
    .flex-slide ul li {
        font-size: 2em;
      }
    .flex-title-home {
        top: 15%;
    }
    .flex-title-home span{
        font-size: 2.5vw;
    }
    .article-list li{
        width: 45%;
    }
    .article-list-mobile a{
        text-decoration: none;
    }
    .article-list-mobile a:hover{
        text-decoration: none;
    }
    .description-article{
        font-size: 0.6rem;
        color: #707070;
    }
    .bg-article-home{
        height:32vh;
    }
    .customNominalMobile{
        padding: 15px 5px;
        height: 58px;
        font-size: 1rem;
      }
      .customNominalMobile::placeholder{
        font-size: 1rem;
      }
    .inputNameMobile{
        height: 44px;
        padding:12px 20px;
        border: 2px solid #00afd7;
        border-radius: 10px;
      }
      .inputNameMobile:focus{
        background-color: #00afd7;
        border-color: #00afd7;
        color: #f9f9f9;
      }
      .inputNameMobile:focus::placeholder{
        color: #f9f9f9;
      }
      .inputNameMobile::placeholder{
        color:#c1bfbf;
      }
      .inputEmailMobile{
        height: 44px;
        padding:12px 20px;
        border: 2px solid #00afd7;
        border-radius: 10px;
      }
      .inputEmailMobile:focus{
        background-color: #00afd7;
        border-color: #00afd7;
        color: #f9f9f9;
      }
      .inputEmailMobile:focus::placeholder{
        color: #f9f9f9;
      }
      .inputEmailMobile::placeholder{
        color:#c1bfbf;
      }
      .element-home-modal-mobile{
        background-color: #f3f3f3;
        border-radius: 5px;
        position: absolute;
        top: 98px;
        left: 107px;
        z-index: -1;
        height: 41vh;
        width: 81vw;
      }
      .element-sanitazion-modal-mobile{
        background-color: #f3f3f3;
        border-radius: 5px;
        position: absolute;
        top: 98px;
        left: 107px;
        z-index: -1;
        height: 41vh;
        width: 81vw;
      }
      .element-water-modal-mobile{
        background-color: #f3f3f3;
        border-radius: 5px;
        position: absolute;
        top: 98px;
        left: 107px;
        z-index: -1;
        height: 41vh;
        width: 81vw;
      }
      .logo-iprospect{
        width: 18%;
      }
}