@media (min-width: 370px) and (max-width: 480px) { 
    .element-home-modal-mobile{
        background-color: #f3f3f3;
        border-radius: 5px;
        position: absolute;
        top: 175px;
        left: 60px;
        z-index: -1;
        height: 40vh;
        width: 81vw;
      }
      .element-sanitazion-modal-mobile{
        background-color: #f3f3f3;
        border-radius: 5px;
        position: absolute;
        top: 160px;
        left: 60px;
        z-index: -1;
        height: 38vh;
        width: 81vw;
      }
      .element-water-modal-mobile{
        background-color: #f3f3f3;
        border-radius: 5px;
        position: absolute;
        top: 170px;
        left: 60px;
        z-index: -1;
        height: 38vh;
        width: 81vw;
      }
      .detail-donation p{
        font-size: 1rem;
      }
      .link-donation-help a{
        margin-top: 30px;
      }
      .link-read-detail{
        padding-top: 30px;
      }

  .radio-toolbar-mobile label {
    display: inline-block;
    padding: 15px 11px;
    font-family: sans-serif, 'NeueFont';
    font-size: 0.9rem;
    border: 2px solid #00afd7;
    border-radius: 10px;
    color:#00afd7;
    margin-right:5px;
    background-color: #fff;
    width: 71%;
}
  .banner-detail-mobile li{
    padding-left: 45px;
    margin-left:-20px;
    margin-right:-20px;
  }
  #autocomplete-mobile{
    display: inline-flex;
    margin-top:5px;
  }
  .closeSearchMobile{
    margin-top: 14px;
  }
  .customNominalMobile{
    padding: 15px 5px;
    height: 58px;
    font-size: 1rem;
  }
  .customNominalMobile::placeholder{
    font-size: 1rem;
  }
  .inputNameMobile{
    height: 44px;
    padding:12px 20px;
    border: 2px solid #00afd7;
    border-radius: 10px;
  }
  .inputNameMobile:focus{
    background-color: #00afd7;
    border-color: #00afd7;
    color: #f9f9f9;
  }
  .inputNameMobile:focus::placeholder{
    color: #f9f9f9;
  }
  .inputNameMobile::placeholder{
    color:#c1bfbf;
  }
  .inputEmailMobile{
    height: 44px;
    padding:12px 20px;
    border: 2px solid #00afd7;
    border-radius: 10px;
  }
  .inputEmailMobile:focus{
    background-color: #00afd7;
    border-color: #00afd7;
    color: #f9f9f9;
  }
  .inputEmailMobile:focus::placeholder{
    color: #f9f9f9;
  }
  .inputEmailMobile::placeholder{
    color:#c1bfbf;
  }
  .bg-nominal-mobile span{
    font-size: .8rem;
  }
}